// Bootstrap Override
$font-family-base: 'Roboto', 'Arial', sans-serif;


$colorz-ft-green-1: #355925;
$colorz-ft-green-2: #16260F;
$colorz-ft-green-3: #AAD989;
$colorz-ft-green-4: #5C8C2B;
$colorz-ft-green-5: #A7D93B;

$colorz-pastel-light-yellow: #CAD189;
$colorz-pastel-light-yellow-2: #C5D4A6;
$colorz-pastel-green-1: #7EAC8B;
$colorz-pastel-green-2: #8FBA8A;
$colorz-pastel-salmon: #F2947F;

